GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Firebase
FBASE_API_KEY=
FBASE_AUTH_DOMAIN=
FBASE_PROJECT_ID=
FBASE_STORAGE_BUCKET=
FBASE_MESSAGING_SENDER_ID=
FBASE_APP_ID=

APP_HOST=http://localhost:3000
API_HOST=http://localhost:9090

APP_ENV=local

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_SSLMODE=
DATABASE_TIMEZONE=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=

#GOOGLE_APPLICATION_CREDENTIALS=

JWT_SECRET=

STRIPE_SECRET_KEY=sk_test_
STRIPE_PUBLIC_KEY=pk_test_

KAFKA_BROKER=localhost:9092

STRIPE_WEBHOOK_SECRET=whsec_test

API_SECRET=
API_WH_SECRET=
API_QRC_SECRET=

# If set to true the web server will respond with 503 to any requests at /api/v1
MAINTENANCE_MODE=

DATABASE_CONNECTION=
S3_SECRETS_BUCKET=
S3_ASSETS_BUCKET=
SECRETS_DIR=
TEMP_DIR=

REDIS_HOST=redis://localhost:6379

GMAIL_HOST=
GMAIL_USERNAME=
GMAIL_PASSWORD=

SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=

SENDGRID_HOST=
SENDGRID_SMTP_USER=
SENDGRID_FROM_EMAIL=
SENDGRID_FROM_NAME=
SENDGRID_API_KEY=

# AWS
SQS_QUEUE_ARN=
SCHEDULER_ROLE_ARN=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_EVENTBRIDGE_ROLE_ARN=
AWS_IAM_ROLE_ARN=
AWS_IAM_USER_ARN=
AWS_MEMBER_ID=
AWS_IAM_USER=
AWS_IAM_ROLE=

# OPTIONAL

# Required for sending
QSTASH_URL=
QSTASH_TOKEN=

# Required for receiving
QSTASH_CURRENT_SIGNING_KEY=